<script type="text/javascript" src="js/module/module-manager.js"></script>

<script type="text/html" id="template-moduleManager-ModuleItemView">
  <%= title %> <%= getIsDefaultHtml() %> <a href="#" class="addModuleAction">Add Module</a><a href="#" class="removeModuleAction">Remove Module</a>
</script>

<script type="text/html" id="template-moduleManager-ModuleListView">
  <div class="moduleAction moduleTitleBar" id="moduleManagerActionBar">
    Module Manager
  </div>
  
  <ul id="moduleManagerList"></ul>
  
</script>